.FourPointRiggingCalculator.structure-analysis-calculator-calculator-right-show-hidden-btn-Padeye-MaterialProperty button.structure-analysis-calculator-calculator-right-show-hidden-btn {
    top: 0 !important;
    transform: none !important;
    left: 0 !important;
}